{% extends "AccountBundle::layout.html.twig" %}

{% block title %}AccountBundle:Profile:subscriptions{% endblock %}

{% block body %}
<h1>Welcome to the Profile:subscriptions page</h1>
{% endblock %}
