<!doctype html>
<html lang="pl">
<head>
  <title>{% block title %}GyMan.pl - proste zarządzanie klubami sportowym{% endblock %}</title>
  <meta class="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">

  <link rel="shortcut icon" href="{{ asset("bundles/front/img/favicon.ico") }}?v={{ "now"|date("U") }}">
  
  {% include ("::stylesheets.html.twig") %}
</head>

{% block overraid_body %}
<body class="fixed-header{% if app.user %} hidden-top{% endif %}">
<div class="page-box">
<div class="page-box-content">
    
    {% if app.user %}
        {% include("::authorizedHeader.html.twig") %}
    {% endif %}
    
{% include("::header.html.twig") %}

{% block main %}
<section id="main">
  <article class="content">
      {% block body %}{% endblock %}
  </article>
</section><!-- #main -->
{% endblock main %}

</div><!-- .page-box-content -->
</div><!-- .page-box -->

{% include "::footer.html.twig" %}
{% include ("::javascripts.html.twig") %}

</body>
{% endblock overraid_body %}
</html>