parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     gyman
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            pl
    secret:            someTokenThatWillGetChanged

    debug_toolbar:          false
    debug_redirects:        false
    use_assetic_controller: false

    delivery_address: some@email.com

    download_link:      https://github.com/uirapuru/gyman.pl/archive/master.zip
    github_link:      https://github.com/uirapuru/gyman.pl/